﻿@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/BMI/Index">
    身高 : @Html.TextBoxFor(f => f.Height) 公分 @ViewBag.HeightError @Html.ValidationMessageFor(f => f.Height)<br /><br />
    體重 : @Html.TextBoxFor(f => f.Weight) 公斤 @ViewBag.WeightError @Html.ValidationMessageFor(f => f.Weight)<br /><br />
    <input type="submit" value="送出" />
</form>
<br />

計算結果： @Model.BMI <br />
等級： @Model.Level
