﻿
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
@{ 
    foreach (var item in fruits)
    {
        <li>
            @item <br/>
        </li>
    }
}
</ol>